<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Enquiry received</h1>
    	<p>
    	  <strong>First name:</strong>
    	  <%= @enquiry.name %>
    	</p>

    	<p>
    	  <strong>Last name:</strong>
    	  <%= @enquiry.last_name %>
    	</p>

    	<p>
    	  <strong>Email:</strong>
    	  <%= @enquiry.email %>
    	</p>

    	
    	<p>
    	  <strong>Content:</strong>
    	  <%= @enquiry.content %>
    	</p>

  </body>
</html>