// Directives
//--------------------------------------------

// $colors: $light $darknight $midnight $midnight-light $dirty-gold $calm $subtle;
//
// @each $color in $colors {
//   .btn-block-#{$color} {
//     // border-bottom: 2px solid darken(#{$color}, 20);
//     background: #{$color};
//   }
// }


// Presentational
//--------------------------------------------

.btn-block {
  padding: 20px;
  border-radius: 7px;
  font-size: $font-size-medium;
  font-weight: $font-weight-light;
  cursor: pointer;
  &:active {
    opacity: 0.5;
  }
}

.btn-block-calm {
  background: $calm;
  transition: background 0.25s ease-in;
  border-bottom: 2px solid darken($calm, 20);
  &:hover {
    background: darken($calm, 20);
  }
}

.btn-block-light {
  color: $midnight;
  background: $light;
  transition: background 0.25s ease-in;
  border-bottom: 2px solid darken($light, 20);
  &:hover {
    background: darken($light, 20);
  }
}

.btn-block-darknight {
  color: $light;
  background: $darknight;
  transition: background 0.25s ease-in;
  border-bottom: 2px solid darken($darknight, 20);
  &:hover {
    background: darken($darknight, 20);
  }
}

.btn-block-dirtygold {
  color: $light;
  background: darken($dirty-gold, 5);
  transition: background 0.25s ease-in;
  border-bottom: 2px solid darken($dirty-gold, 20);
  &:hover {
    background: darken($dirty-gold, 25);
  }
}

.btn-circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: $font-size-medium;
  font-weight: $font-weight-light;
}
