// Directives
//--------------------------------------------



// Mixins
//--------------------------------------------

@mixin btnBlockBg($bg-color, $font-colour: $light) {
  color: $font-colour;
  background: $bg-color;
  border-bottom: 2px solid darken($bg-color, 20);
  &:hover {
    background: darken($bg-color, 20);
  }
}



// Presentational
//--------------------------------------------

.btn-block {
  padding: 20px;
  border-radius: 7px;
  font-size: $font-size-medium;
  font-weight: $font-weight-light;
  transition: background 0.25s ease-in;
  cursor: pointer;
  &:active {
    opacity: 0.5;
  }
}

.btn-block-calm {
  @include btnBlockBg($calm);
}

.btn-block-light {
  @include btnBlockBg($light, $midnight);
}

.btn-block-darknight {
  @include btnBlockBg($darknight);
}

.btn-block-dirtygold {
  @include btnBlockBg($dirty-gold);
}

.btn-block-slime {
  @include btnBlockBg($slime);
}

.btn-block-burtnsea {
  @include btnBlockBg($burntsea);
}

.btn-circle {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  font-size: $font-size-medium;
  font-weight: $font-weight-light;
}
