// Extends
//--------------------------------------------



// Presentational
//--------------------------------------------

.course-list {
  width: 100%;
  display: flex;
  align-items: stretch;
  @media screen and (max-width: 1000px) {
    flex-wrap: wrap;
  }
  @media screen and (max-width: 1300px) {
    font-size: 0.95em;
  }

}

.course-item-content {
  width: 66%;
}

$course-logo-size: 60px;

.course-logo-ft {
  margin: 0 auto;
  text-transform: uppercase;
  font-size: $font-size-xlarge;
  text-align: center;
  background: $light;
  width: $course-logo-size;
  height: $course-logo-size;
  line-height: $course-logo-size;
  border-radius: 100%;
}

.course-item {
  padding: 50px 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  a {
    text-decoration: none;
  }
  .btn-block {
    width: 190px;
    margin: 0 auto;
    text-align: center;
  }
}

.course-item-headline {
  text-transform: uppercase;
  font-family: $heading-font;
  margin: 20px auto;
  line-height: $line-height-tight;
}

.course-item-info {
  font-weight: $font-weight-light;
  margin: 20px auto;
}
