// Extends
//--------------------------------------------



// Presentational
//--------------------------------------------

.input-text {
  color: $midnight;
  padding: 15px;
  transition: 0.5s ease-in;
  border-bottom: 2px solid transparent;
  &:focus {
    border-color: $midnight-light;
  }
  @media screen and (max-width: 600px) {
    width: 90%;
  }
}

.input-select-feature {
  background: none;
  color: rgba($light, 0.5);
  text-decoration: underline;
  font-family: $heading-font;
  font-weight: $font-weight-base;
  position: relative;
  bottom: 6px;
  // -webkit-appearance: none;
}

// .custom-select-arrow {
//   &::after {
//     content: image-url('icon-arrow.svg');
//     display: inline-block;
//     color: $dirty-gold;
//   }
// }
