// Presentational
//--------------------------------------------

.main-header {
  height: 350px;
  @media screen and (min-width: 550px) {
    height: 550px;
  }
  overflow: hidden;
  background-size: cover;
  color: $light;
}

.header-bg-home {
  background: linear-gradient(
  to bottom,
  rgba(44, 62, 80, 0.75),
  rgba(44, 62, 80, 0)
  ), image-url('main-hero-compressor.jpg') $darknight no-repeat top center;
  @media screen and (min-width: 1000px) {
    background-attachment: fixed;
  }
}

.header-bg-courses {
  background: $darknight;
}

.header-bg-blog {
  background: $darknight;
}

.header-bg-workshops {
  background: url(/assets/desk-920a310172ac794eb8f582bfcc7051d8.jpg) #2C3E50 no-repeat top center;
}

.call-to-action-wrapper {
  width: 90%;
  height: 100%;
  margin: 5% auto;

  @media screen and (min-width: 750px) {
    margin: 9% auto;

  }

  a {
    margin: 30px auto;
    display: block;
    width: 200px;
    z-index: 200;
  }
  .btn-block-dirtygold {
    background: darken($dirty-gold, 2);
  }

}

.call-to-action-headline {
  text-transform: uppercase;
  font-size: 9vw;
  text-align: center;
  @media screen and (min-width: 950px) {
    font-size: 90px;
  }
  margin: 0;
  line-height: $line-height-tight;
}

.call-to-action-info {
  font-weight: $font-weight-light;
  line-height: $line-height-base;
  margin: 2% 0 0;
  text-align: center;
  font-size: 1.2em;
  @media screen and (min-width: 500px) {
    font-size: $font-size-large;
  }
  opacity: 0.9;
}
