// Presentational
//--------------------------------------------

.main-header {
  height: 350px;
  @media screen and (min-width: 550px) {
    height: 500px;
  }
  overflow: hidden;
  background: linear-gradient(
  to bottom,
  rgba(44, 62, 80, 0.75),
  rgba(44, 62, 80, 0)
  ), image-url('main-hero-compressor.jpg') $darknight no-repeat top center;
  background-size: cover;
  color: $light;
  size: 0.9em;
}

.call-to-action-wrapper {
  width: 90%;
  @media screen and (min-width: 550px) {
    width: 66%;
  }
  margin: 9% auto;

}

.call-to-action-headline {
  text-transform: uppercase;
  font-size: $font-size-xxlarge;
  @media screen and (min-width: 550px) {
    font-size: 70px;
  }
  margin: 0;
  line-height: $line-height-tight;
}

.call-to-action-info {
  font-weight: $font-weight-light;
  line-height: $line-height-base;
  margin: 2% auto;
}
