// Extends
//--------------------------------------------

%link-hover {
  transition: 0.5s ease-out;
  &:hover {
    color: $dirty-gold;
    border-color: $dirty-gold;
  }
}



// Presentational
//--------------------------------------------

body {
  font-family: $body-font;
  font-size: 1em;
  font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
}

h1 {
  font-size: $font-size-xxxlarge;
}

h2 {
  font-size: $font-size-xxlarge;
}

h3 {
  font-size: $font-size-xlarge;
}

h4 {
  font-size: $font-size-large;
}

h5 {
  font-size: $font-size-medium;
}

h6 {
  font-size: $font-size-small;
}

p {
  font-size: $font-size-medium;
  line-height: $line-height-base;
}

a {
  color: inherit;
}
